.decor {
  padding: 25px 0 25px;
  background: rgba(255, 188, 170, 0.52);
  &__title {
    margin-bottom: 30px;
    text-align: center;
  }

  &__text {
    margin: 0 auto 35px;
    max-width: 1000px;
    text-align: center;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
  }

  &__item {
    display: flex;
    flex: 0 0 25%;
    flex-direction: column;
    padding: 0 20px 30px 20px;
    text-align: center;
  }

  &__box-icons {
    flex: 1 1 auto;
    margin-bottom: 24px;
  }
}
